.list-slider {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #d3d3d3;
  padding: 10px;
  overflow: hidden;
  position: relative;
  width: 650px;
  margin: 0 auto;
}

.slider-window {
  width: 600px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides ol {
  min-width: 600px;
  margin: 0;
  padding: 0 1em;
  list-style-position: inside;
  box-sizing: border-box;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  padding: 0 10px;
}

.arrow:focus {
  outline: none;
}

