.carousel-inner {
  background-color: #d3d3d3;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; /* vertikale Zentrierung */
  width: fit-content;
  margin: 0 auto;
  position: relative; /* für Buttons-Positionierung */
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center; /* vertikale Zentrierung */
  /* Höhe wird per JS gesetzt */
  width: 100%;
}

.carousel-item ol {
  padding-left: 1.25rem;
  margin: 0;
}

/* Buttons positionieren */
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black; /* evtl. anpassen */
  background: transparent;
  border: none;
}

.carousel-control-prev {
  left: -3rem;
}

.carousel-control-next {
  right: -3rem;
}

