/*Global*/
body{
    font-size: 120%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-bottom: 22px;
}

.bodys{
    background-color: #87CEFA;
}

.comingsoon{
    text-align: center;
    font-size: 50px;
    margin-top: 380px;
}

h2, h1{
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 20px;
}

h3{
    margin-top: 40px;
    text-decoration: underline;
    width: fit-content;
}

h4{
    margin-top: 40px;
}

.h2-top{
    margin-top: 20px;
}

a{
    color: #0000FF;
}

.topBtn {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: x-large;
}

.backBtn{
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 42.5%;
    margin-right: 42.5%;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
    width: 90%;
    table-layout: fixed;
}

table th{
    text-align: center;
    font-size: xx-large;
    padding: 8px;
    border-radius: 5px;
}

table td{
    padding: 8px;
    border-radius: 5px;
}

.track-back-anchor{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: auto;
}

.expanded{
    grid-column: span2;
}

.shrink{
    grid-column: span1;
}


/*Liststyles*/
.ul-arrowhead{
    list-style-type: none;
}

.ul-arrowhead li::before{
    content: '\2B9A';
}


/*Links*/
.links-retain-color:link{
    color: inherit;
}

.links-retain-color:visited{
    color: inherit;
}


/*Onsitenavs*/
.onsitenav{
    background-color: #D3D3D3;
    border-radius: 5px;
    width: fit-content;
    padding: 20px;
    margin-bottom: 50px;
}

.onsitenav ul{
    list-style-type: none;
}

.onsitenav > ul{
    margin: 0;
    padding: 0;
}

.onsitenav ul li span{
    text-decoration: underline;
}

.onsitenav > ul > li{
    padding-bottom: 10px;
}

.onsitenav ul li ul{
    padding-left: 20px;
}

.onsitenav a{
    text-decoration: none;
    color: #0000FF;
}

.onsitenav a:visited{
    color: #0000FF;
}

.onsitenav1{
    background-color: #D3D3D3;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    margin-bottom: 50px;
}

.onsitenav1 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.onsitenav1 li {
    padding-bottom: 10px;
}

.onsitenav1 li:last-child{
    padding: 0;
}

.onsitenav1 a {
    text-decoration: none;
    color: #0000FF;
}

.onsitenav1 a:visited{
    color: #0000FF;
}

.onsitenav-roman{
    background-color: #D3D3D3;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    margin-bottom: 50px;
}

.onsitenav-roman ul{
    list-style-type: none;
}

.onsitenav-roman li{
    padding-bottom: 10px;
}

.onsitenav-roman a{
    text-decoration: none;
    color: #0000FF;
}

.onsitenav-roman a:visited{
    color: #0000FF;
}


/*Menu*/
header{
    width: 100%;
    height: 40px;
    background-color: #DCDCDC;
    border-radius: 10px;
    background: -webkit-linear-gradient(bottom, #DCDCDC, #FFFFFF);
    margin-bottom: 70px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    z-index: 10;
}

.menu {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.nav {
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}

.sticky{
    position: fixed;
    top: 0;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav li a {
    display: inline-block;
    width: 200px;
    line-height: 40px;
    padding: 0;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
}
    
.nav li li {
  float: left; 
}
    
.nav li li a {
  display: block;
  font-size: inherit;
  }
    
.nav li a:hover {
    background: #034f84;
    color: #fff;
}

/*--- Sublist Styles ---*/
.nav ul {
    position: absolute;
    padding: 0px;
    left: 0;
    display: none;
    z-index: 1000;
}

.nav > li:nth-child(2) > ul li {
    background-color: #1E90FF;
    border-radius: 10px;
    margin-top: 3px;
}

.nav > li:nth-child(3) > ul li{
    background-color: #FFB6AE;
    border-radius: 10px;
    margin-top: 3px;
}

.nav > li:nth-child(4) > ul li{
    background-color: #BABABA;
    border-radius: 10px;
    margin-top: 3px;
}

.nav > li:nth-child(5) > ul li{
    background-color: #034f84;
    border-radius: 10px;
    margin-top: 3px;
}

/*--- Hide Sub Sublists ---*/
.nav li:hover ul ul {
    display:none;
}

/*--- Sublevel UL's display and position on hover ---*/
.nav li:hover ul {
    display: block;
} 

.nav li li:hover ul {
    margin-left: 200px; 
    margin-top: -43px; 
    display: block;
    z-index: 1000;
}

.activeH{
    background-color: #FFA500;
    color: #000000;
}

.activeSR{
    background-color: #1E90FF;
}

.activeZR{
    background-color: #FFB6AE;
}

.activeÖR{
    background-color: #BABABA;
}

.icon{
    padding-right: 5px;
}


/*Footer*/
footer{
    background-color: #1E90FF; 
    position: fixed;
    bottom: 0;
}

.footerbutton{
    border: none;
    background-color: #1E90FF;    
}

.footerlink{
    color: #FFFFFF;
    text-decoration: none;
}


/*Collapsibles*/
.collapsible {
    color: #0000FF;
    background-color: inherit;
    cursor: pointer;
    padding: 18px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: inherit;
    font-family: 'Times New Roman', Times, serif;
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
    transition: max-height 0.2s ease-out;
    background-color: inherit;
}

.blend-in{
    padding: 0;
    font-family: initial;
    font-size: inherit;
}


/*Mainpage*/


/*Selections*/
.div_left{
    float: left;
    display: block;
    width: 48%;
    margin: 1%;
    height: 80vh;
}

.div_right{
    float: right;
    display: block;
    width: 48%;
    margin: 1%;
    height: 80vh;
}

.div_middle{
    height: 80vh;
}

.selection{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: calc(1em + 2vw);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.selection a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.6s ease;
}

.selection a:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -40px;
    transition: 0.6 ease;
}

.selection:hover a{
    padding-right: 50px;
}

.selection:hover a:after{
    opacity: 1;
    right: 0;
}

.height_2{
    height:46%;
    margin-bottom: 30px;
}

.height_3{
    height: 29.5%;
    margin-bottom: 30px;
}

.height_4{
    height: 20.5%;
    margin-bottom: 30px;
}


/*Strafrecht*/


/*Fallbearbeitung*/
.bold1{
    font-weight: bold;
    font-size: x-large;
}

#inward{
    list-style-type: circle;
    list-style-position: inside;
    text-indent: 50px;
}

/*Definitionen*/

#def_s{
    text-align: center;
}

.h1defs{
    text-decoration: underline;
}


/*Datenschutzerklärung*/
#language-slider {
    display: flex;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
    width: 16%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
}

.language-button {
    width: 48%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.language-button.active {
    background-color: #4CAF50;
    color: white;
}

.language-button:not(.active) {
    background-color: #ccc;
    color: #333;
}


/*Über mich und diese Seite*/

#umuds{
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.ueberschrift_umuds{
    text-decoration: underline;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.umuds_txt{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}


/*Formatierungen*/

/*Paragraph formatting*/
.margin-bottom-40px{
    margin-bottom: 40px;
}

.headspace{
    margin-top: 50px;
}

.no-headspace{
    margin-top: 0;
}

.no-feetspace{
    margin-bottom: 0;
}

.tug-in{
    padding: 2px;
}

.too-cozy{
    padding: 10px;
}

.cozy{
    padding: 0;
}

.blackborder{
    border: 3px solid #000000;
    border-radius: 5px;
}

.redborder{
    border: 3px solid #ff0000;
    border-radius: 5px;
}


/*Textstyles*/
.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.offset-left{
    margin-left: 15px;
}

.initial{
    font-weight: initial;
}

.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}

.underline{
    text-decoration: underline;
}

.txt-dec-none{
    text-decoration: none;
}

.italic{
    font-style: italic;
}

.large{
    font-size: large;
}

.larger{
    font-size: larger;
}

.x-large{
    font-size: x-large;
}

.xx-large{
    font-size: xx-large;
}

.xxx-large{
    font-size: 4em;
}

.smaller{
    font-size: smaller;
}

.small{
    font-size: small;
}

.text-dec-none{
    text-decoration: none;
}


/*Text formatting*/
.line-indent{
    padding-left: 30px;
}

.text-left{
    text-align: left;
}

.vertical-txt-lr{
    writing-mode: vertical-lr;
}

.vertical-txt-rl{
    writing-mode: vertical-rl;
}

/*Colors*/

.white{
    color: #FFFFFF;
}

.red{
    color: #ff0000;
}

.crimson-red{
    color: #DC143C;
}

.blue{
    color: #0000FF;
}

.orange{
    color: #ff8c00;
}

.black{
    color: #000000;
}

.snorkel-blue{
    color: #034f84;
}

.txt-color-alto{
    color: #dcdcdc;
}

.txt-color-bali-hai{
    color: #839faa;
}

.txt-color-solid-pink{
    color: #943c4c;
}

.txt-color-copper{
    color: #ae6b38;
}

.txt-color-dune{
    color: #3b3734;
}


/*List-types*/
.square{
    list-style-type: square;
}

.circle{
    list-style-type: circle;
}

.disc{
    list-style-type: disc;
}

.lower-alpha{
    list-style-type: lower-alpha;
}

.none{
    list-style-type: none;
}