/*Seitenübergreifend*/
body{
    font-size: 120%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.comingsoon{
    text-align: center;
    font-size: 50px;
    margin-top: 380px;
}

.white{
    color: white;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.italic{
    font-style: italic;
}

.previousbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: dodgerblue;
    padding: 10px 15px;
    border: none;
    position: absolute;
    right: 0;
}

.previousbtn:hover{
    opacity: 0.8;
}

.previous{
    text-decoration: none;
    color: white;
}

.linkgii{
    color: blue;
}


/*header*/
header{
    width: 100%;
    height: 40px;
    background-color: #dcdcdc;
    border-radius: 10px;
    background: -webkit-linear-gradient(bottom, #dcdcdc, #ffffff);
    margin-bottom: 70px;
    margin-top: 10px;
    padding: 0;
}

/*Menu*/
.topnav {
    overflow: hidden;
    border-radius: 10px;
    background-color: linear-gradient(to top, rgb(0,0,0), rgb(220,220,220));
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.activeH {
    background-color: orange;
    color: black;
    border-radius: 10px;
    font-size: 20px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.activeSR {
    background-color: #1E90FF;
    color: white;
    border-radius: 10px;
    font-size: 20px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.activeZR {
    background-color: #FFC0CB;
    color: white;
    border-radius: 10px;
    font-size: 20px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.activeÖR {
    background-color: #bababa;
    color: white;
    border-radius: 10px;
    font-size: 20px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn, .btnuem {
    font-size: 20px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dcdcdc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn{
    color: white;
    background-color: #1E90FF;
    border-radius: 10px;
}

.dropdown-content a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    }
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/*Footer*/
footer{
    background-color: dodgerblue; 
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

.footerbutton{
    border: none;
    background-color: #1E90FF;    
}

.footerlink{
    color: #FFFFFF;
    text-decoration: none;
}

/*Collapsibles*/
.collapsible {
    color: #0000FF;
    background-color: inherit;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: inherit;
}


/*Mainpage*/



/*Selections*/
.selection{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: calc(1em + 2vw);
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.selection a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.selection a:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -40px;
    transition: 0.5s;
}

.selection:hover a{
    padding-right: 50px;
}

.selection:hover a:after{
    opacity: 1;
    right: 0;
}

.height_2{
    height: 300px;
}

.height_3{
    height: 200px;
}

.height_4{
    height: 150px
}


/*Strafrecht*/
.bodys{
    background-color: skyblue;
}


/*Fallbearbeitung*/
.bold1{
    font-weight: bold;
    font-size: x-large;
}

#inward{
    list-style-type: circle;
    list-style-position: inside;
    text-indent: 50px;
}

/*Definitionen*/

#def_s{
    text-align: center;
}

.h1defs{
    text-decoration: underline;
}

/*Zivilrecht*/
.bodyz{
    background-color: #fddde6;
}

#table_stv{
    width: 50%;
    height: 200px;
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
}

#table_stv tr:first-child td:first-child{
    height: 50px;
    background-color: #1E90FF;
    border-radius: 5px;
    font-weight: bolder;
}

#table_stv tr:nth-child(2) td:nth-child(1){
    height: 50px;
    background-color: #1E90FF;
    border-radius: 5px;
}

#table_stv td:nth-child(1){
    height: 50px;
    width: 50%;
    background-color: #FF1E90;
    border-radius: 5px;
}

#table_stv td:nth-child(2){
    height: 50px;
    width: 50%;
    background-color: #90FF1E;
    border-radius: 5px;
}

#table_stv tr:nth-child(3){
    font-weight: bolder;
}

#tbl_gfk{
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
}

#tbl_gfk td{
    border-radius: 5px;
    padding: 5px;
}

#tbl_gfk tr:first-child td:first-child{
    background-color: #a9a9a9;
}

#tbl_gfk tr:first-child td:nth-child(2){
    background-color: #1E90FF;
}

#tbl_gfk tr:first-child td:nth-child(3){
    background-color: #a9a9a9;
}

#tbl_gfk tr:nth-child(2){
    height: 66px;
}

#tbl_gfk tr:nth-child(2) td:nth-child(1){
    background-color: #1e90ff;
}

#tbl_gfk tr:nth-child(2) td:nth-child(5){
    background-color: #1e90ff;
}

#tbl_gfk tr:nth-child(2) td:nth-child(2){
    background: linear-gradient(to bottom, #1E90FF 25%, #FE1EFF 100%);
}

#tbl_gfk tr:nth-child(2) td:nth-child(3){
    background: linear-gradient(to bottom, #1E90FF 25%, #FF8D1E 100%);
}

#tbl_gfk tr:nth-child(2) td:nth-child(4){
    background: linear-gradient(to bottom, #1E90FF 25%, #1FFF1E 100%);
}

#tbl_gfk tr:nth-child(3){
    text-align: left;
}

#tbl_gfk tr:nth-child(3) td:nth-child(1){
    background-color: #FE1EFF;
}

#tbl_gfk tr:nth-child(3) td:nth-child(2){
    background-color: #FF8D1E;   
}

#tbl_gfk tr:nth-child(3) td:nth-child(3){
    background-color: #1FFF1E;   
}

/*Prüfung*/
.windowbtn{
    border: none;
    background-color: #fddde6;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    color: blue;
}

.windowbtn:hover{
    border: none;
    background-color: #fddde6;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: blue;
    text-decoration: underline;
}

/*Definitionen*/
#def_z{
    text-align: center;
}

/*Staatsorga*/
.bodystaat{
    background-color: lightgrey;
}

#button14{
    background-color: pink;
    margin-top: 5px;
}

#button15{
    background-color: skyblue;
}

#button16{
    background-color: #ffcc99;
}
.fett{
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
}

/*Organstreit*/

.linkos{
    color: blue;
    text-decoration: none;
    transition: 0.35s linear;
}

.linkos:hover{
    text-decoration: underline;
    color: blueviolet;
    font-size: 23px;
    transition: 0.35s linear;
}


/*Über mich und diese Seite*/

#umuds{
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.ueberschrift_umuds{
    text-decoration: underline;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.umuds_txt{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

/*Verwaltungsrecht*/
.div_r1c1{
    width: 20%;
    float: left;
    background-color: green;
}

.div_r1c2{
    width: 20%;
    background-color: green;
}

.div_r1c3{
    width: 20%;
    float: right;
    background-color: green;
}


/*Sachenrecht*/
#tbl_sr{
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
}

#tbl_sr tr:first-child th{
    border: 2px solid #168AFF;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(2) td:first-child{
    border: 2px solid #168AFF;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(2) td:nth-child(2){
    border: 2px solid #000000;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(2) td:nth-child(3){
    border: 2px solid #168AFF;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(3) td:nth-child(1){
    border: 2px solid #168AFF;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(3) td:nth-child(2){
    border: 2px solid #168AFF;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(3) td:nth-child(3){
    border: 2px solid #000000;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(4) td:nth-child(1){
    border: 2px solid #000000;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(4) td:nth-child(2){
    border: 2px solid #000000;
    border-radius: 5px;
}

#tbl_sr tr:nth-child(5) td:nth-child(2){
    border: 2px solid #000000;
    border-radius: 5px;
}
